@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.weather-info {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 0 1px 4px black;
}

.temperature {
  font-size: 4em;
}
